/HomeWork/nbproject/private/
/HomeWork/build/
/HomeWork/dist/
/SaveFile/nbproject/private/
/SaveFile/build/
/ChatApplication/nbproject/private/
/ChatApplication/build/
/ChatApplication/dist/
/SocketJava/nbproject/private/
/SocketJava/build/
/ComputerManager/nbproject/private/
/ComputerManager/build/
/ComputerManager/dist/
/SiinReader/nbproject/private/
/SiinReader/build/
/SiinReader/dist/
/ObjectStream/nbproject/private/
/ObjectStream/build/
/GameJavFx/nbproject/private/
/GameJavFx/build/
/GameJavFx/dist/
/ProductManager/nbproject/private/
/ProductManager/build/
/ProductManager/dist/
/Reading-News/nbproject/private/
/Reading-News/build/
/Reading-News/dist/
/Zoom/nbproject/private/
/Zoom/build/
/Zoom/dist/
/BaiDoXe/nbproject/private/